body {
  text-align: center;
  background-color: #282c34;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.container{
  margin-top: 50px;
  margin-bottom: 20px;
  padding-right: 5px;
  padding-left: 5px;
}

.menu-fixed {
	z-index:1000;
	top:0;
  background-color: #282c34;
  text-transform: uppercase;
}

.product-card {
 
  width: 380px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;

}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size:  13px;
  font-weight: 700;
  background: rgb(21, 140, 209);
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300%;
  padding: 10px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
  text-align: left;
}

.product-category {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;

}

.product-details h4 a:hover {
  color: red;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid;
  padding-top: 20px;
}

.product-bottom-details div {
  float: center;
  color: red;
  font-weight: 500;
}

.product-price {
  font-size: 15px;
  color: red;
  font-weight: 500;
}

.product-links {
  text-align: right;
  
}
.con-success{
  color:rgb(17, 89, 137);
}
.con-like {
  color: #ff1919;
}

.product-links a {
  display: inline-block;
  margin-left: 10px;
  color: #1f1a1a;
  transition: 0.3s;
  font-size: 22px;
}

.product-links a:hover {
  color: rgb(255, 0, 0)
}


.card {
  align-content: center;
  align-items: center;
  background-color: rgb(165, 39, 39);
  border-radius: 10px;

}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}