body {
  text-align: center;
  background-color: #282c34;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container{
  margin-top: 50px;
  margin-bottom: 20px;
}

.menu-fixed {
	z-index:1000;
	top:0;
  background-color: #282c34;
  text-transform: uppercase;
}